<div class="footer">
  <div class="container">
    <a href="/money-back-guarantee">Guarantee</a>
    <a href="/reviews">Reviews</a>
    <a href="/how-we-operate">How We Operate</a>
    <a href="/aboutus">About</a>
    <a href="/press">Press</a>
    <a href="http://www.varsitytutors.com/blog">Blog</a>
    <a href="/tutoring-jobs">Tutoring Jobs</a>
    <a href="/careers">Careers</a>
    <a href="/corporate-programs">Corporations</a>
    <a href="/school-programs">School</a>
    <a href="/college-scholarship">Scholarship</a>
    <a href="/practice-tests">Practice</a>
    <a href="/privacy">Privacy</a>
    <a href="/terms-of-use">Terms</a>
    <a href="/sitemap">Sitemap</a>
    <div id="copyright"><a href="http://www.varsitytutors.com">Varsity Tutors.</a> &copy; 2007-2013 All Rights Reserved</div>
    <div class="disclaimer">Names of standardized tests are owned by the trademark holders and are not affiliated with Varsity Tutors LLC. 98% claim: 98% satisfaction claim based on a survey of 814 Varsity Tutors clients conducted during 2011. Media outlet trademarks are owned by the respective media outlets and are not affiliated with Varsity Tutors. </div>
  </div>
</div>
