<header role="banner" class="banner">
    <div class="navbar navbar-fixed-top">
    	<div class="container">
        	<div class="topbar" data-dropdown="dropdown">
			      <div class="topbar-inner">
			  	    <%= link_to image_tag("logo_transparent.png", size: "266x32", alt: "Varsity Tutors Logo", style: "float:left"), home_about_path, class: "logo" %>
			    	  <ul class="nav pull-right">
				        <li class="dropdown">
				        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
				          	<ul class="dropdown-menu">
				            	<li><a href="/overview-of-services">Video Overview</a></li>
				            	<li><a href="/best-top-private-tutoring">Tutor Selection Process</a></li>
				            	<li><a href="/how-we-operate">How We Operate</a></li>
				            	<li><a href="/money-back-guarantee">Our Guarantee</a></li>
				            	<li><a href="/reviews">Video Reviews &amp; Testimonials</a></li>
				            	<li><a href="/press">Media Coverage</a></li>
				            	<li><a href="/aboutus">About Us</a></li>
				          	</ul>
				          </li>
  				        <li class="dropdown">
  				        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Academic Tutoring<b class="caret"></b></a>
  				          	<ul class="dropdown-menu span11">
  				            	<li>
  			              			<ul class="span2">
  			              				<li class="dropdown-heading"><a href="/math-tutoring">math</a></li>
  					                    <li><a href="/algebra-tutoring">Algebra Tutoring</a></li>
  					                    <li><a href="/calculus-tutoring">Calculus Tutoring</a></li>
  					                    <li><a href="/elementary_math-tutoring">Elementary Math Tutoring</a></li>
  					                    <li><a href="/geometry-tutoring">Geometry Tutoring</a></li>
  					                    <li><a href="/pre_calculus-tutoring">Pre-Calculus Tutoring</a></li>
  					                    <li><a href="/statistics-tutoring">Statistics Tutoring</a></li>
  					                    <li><a href="/trigonometry-tutoring">Trigonometry Tutoring</a></li>
  			              			</ul>
  				            	</li>
  				            	<li>
  					              	<ul class="span2">
  					              		<li class="dropdown-heading"><a href="/science-tutoring">science</a></li>
  					                    <li><a href="/anatomy-tutoring">Anatomy Tutoring</a></li>
  					                    <li><a href="/biology-tutoring">Biology Tutoring</a></li>
  					                    <li><a href="/chemistry-tutoring">Chemistry Tutoring</a></li>
  					                    <li><a href="/physical_chemistry-tutoring">Physical Chemistry Tutoring</a></li>
  					                    <li><a href="/physics-tutoring">Physics Tutoring</a></li>
  					              	</ul>
  	            				</li>
  					            <li>
  				              		<ul class="span2">
  				              			<li class="dropdown-heading">foreign languages</li>
  				                    	<li><a href="/french-tutoring">French Tutoring</a></li>
  				                    	<li><a href="/german-tutoring">German Tutoring</a></li>
  				                    	<li><a href="/latin-tutoring">Latin Tutoring</a></li>
  				                    	<li><a href="/mandarin_chinese-tutoring">Mandarin Chinese Tutoring</a></li>
  				                    	<li><a href="/spanish-tutoring">Spanish Tutoring</a></li>
  				              		</ul>
  	            				</li>
  					            <li>
  	              					<ul class="span2">
  	              						<li class="dropdown-heading"><a href="/elementary-tutoring">elementary</a></li>
  	                    				<li><a href="/reading-tutoring">Reading Tutoring</a></li>
  	                    				<li><a href="/phonics-tutoring">Phonics Tutoring</a></li>
  	                    				<li><a href="/elementary_math-tutoring">Elementary Math Tutoring</a></li>
  				                	</ul>
  	            				</li>
  	            				<li>
  	              					<ul class="span2">
  	              						<li class="dropdown-heading"><a href="/academic-tutoring">other</a></li>
  					                    <li><a href="/accounting-tutoring">Accounting Tutoring</a></li>
  					                    <li><a href="/computer_science-tutoring">Computer Science Tutoring</a></li>
  					                    <li><a href="/economics-tutoring">Economics Tutoring</a></li>
  					                    <li><a href="/finance-tutoring">Finance Tutoring</a></li>
  					                    <li><a href="/history-tutoring">History Tutoring</a></li>
  					                    <li><a href="/writing-tutoring">Writing Tutoring</a></li>
  					                    <li><a href="/summer-tutoring">Summer Tutoring</a></li>
  	              					</ul>
  	            				</li>
  				          	</ul>
  				        </li>
  				        <li class="dropdown">
  				        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Test Prep<b class="caret"></b></a>
  				          	<ul class="dropdown-menu span6">
  					            <li class="span2" style="margin-left: 0">
  				              		<ul>
  				              			<li class="dropdown-heading">High School</li>
  				                    	<li><a href="/act-tutoring">ACT Tutoring</a></li>
  					                    <li><a href="/sat-tutoring">SAT Tutoring</a></li>
  					                    <li><a href="/psat-tutoring">PSAT Tutoring</a></li>
  					                    <li><a href="/plan-tutoring">PLAN Tutoring</a></li>
  					                    <li><a href="/shsat-tutoring">SHSAT Tutoring</a></li>
  					                    <li><a href="/staar-tutoring">STAAR Tutoring</a></li>
  				              		</ul>
  	            				</li>
  					            <li class="span2">
  	              					<ul>
  	              						<li class="dropdown-heading">Graduate School</li>
  	                    				<li><a href="/mcat-tutoring">MCAT Tutoring</a></li>
  					                    <li><a href="/gre-tutoring">GRE Tutoring</a></li>
  					                    <li><a href="/lsat-tutoring">LSAT Tutoring</a></li>
  					                    <li><a href="/gmat-tutoring">GMAT Tutoring</a></li>
  				                	</ul>
  	            				</li>
  	            				<li class="span2">
  	              					<ul>
  	              						 <li class="dropdown-heading">K-8</li>
  					                    <li><a href="/aims-tutoring">AIMS Tutoring</a></li>
  					                    <li><a href="/hspt-tutoring">HSPT Prep Tutoring</a></li>
  					                    <li><a href="/isee-tutoring">ISEE Tutoring</a></li>
  					                    <li><a href="/isat-tutoring">ISAT Tutoring</a></li>
  					                    <li><a href="/ssat-tutoring">SSAT Tutoring</a></li>
  					                    <li><a href="/staar-tutoring">STAAR Tutoring</a></li>
  					                    <li><a href="/tachs-tutoring">TACHS Tutoring</a></li>
  	              					</ul>
  	            				</li>
  				          	</ul>
  				        </li>
  				        <li><a href="#">Pricing</a></li>
  				        <li><a href="#">Our Tutors</a></li>
  				        <li class="dropdown">
  				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations<b class="caret"></b></a>
  				          <ul class="dropdown-menu">
  				            <li><a href="http://www.varsitytutors.com/tutoring-atlanta" style="">Atlanta</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-austin" style="">Austin</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-boston" style="">Boston</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-chicago" style="">Chicago</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-dallas_fort_worth" style="">Dallas Fort Worth</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-denver" style="">Denver</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-houston" style="">Houston</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-kansas_city" style="">Kansas City</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-longisland" style="">Long Island</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-los_angeles" style="">Los Angeles</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-miami" style="">Miami</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-milwaukee" style="">Milwaukee</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-new_jersey" style="">New Jersey</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-new_york_city" style="">New York City</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-philadelphia" style="">Philadelphia</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-phoenix" style="">Phoenix</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-san_antonio" style="">San Antonio</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-san_diego" style="">San Diego</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-san_francisco" style="">San Francisco-Bay Area</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-seattle" style="">Seattle</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-st_louis" style="">St. Louis</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-tucson" style="">Tucson</a></li>
  		                    <li><a href="http://www.varsitytutors.com/tutoring-washington_dc" style="">Washington DC</a></li>
  				          </ul>
  				        </li>
				          <li><a rel="nofollow" href="http://www.varsitytutors.com/login" class="login-buttons-locked" style="float:left"></a></li>
			      	  </ul>
  			  	</div>
			   </div>
    	</div>
  </div>
</header>